.ProfileContainer {
	position: relative;
	background-color: white;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin: 0;
	overflow: hidden;
}

.Title {
	margin-top: 50px;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	font-family: monospace;
	z-index: 5;
}

.Subtitle {
	margin-top: 10px;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	font-family: monospace;
	color: #424242;
	width: 70%;
	z-index: 5;
}

.ProfilePic {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	margin-top: 20px;
	/* display: block; */
	z-index: 5;
}

/* hide in smaller screens */
.SmartPhone {
	position: absolute;
	left: -50px;
	bottom: 0;
	z-index: 1;
	transition: all 0.3s;
}

.Circle {
	position: relative;
	height: 350px;
	width: 350px;
	border-radius: 175px;
	background-image: linear-gradient(to bottom, #1565c0, #1565c0);
	z-index: 0;
	bottom: -170px;
	align-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 992px) {
	.Circle {
		align-self: center;
	}
	.SmartPhone {
		transform: rotate(90deg);
		bottom: 150px;
		height: 250px;
		width: 250px;
		left: 0;
		transition: all 0.3s;
	}
}

@media only screen and (max-width: 600px) {
	.SmartPhone {
		height: 180px;
		width: 180px;
		bottom: 180px;
		transition: all 0.3s;
	}
}

.Code {
	margin-bottom: 125px;
}
