.Layout {
	padding: 0;
	margin: 0;
	background-color: white;
	/* Relative cuz we have paralax on same page, otherwise we dont need it */
	position: relative;
}

.IntroText {
	font-size: 80px;
	color: white;
	font-weight: 500;
	margin: 0px;
}

.FlashArrow {
	animation: blinker 2s linear infinite;
	cursor: pointer;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
